body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #5a0e1e, #02191a);
    font-family: 'Albert Sans', sans-serif;
}


form {
  background: rgba(0, 0, 0, 0.37);
  padding: 20px;
  border-radius: 15px;
  width: 500px;
	height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
	animation: focus-in 2s, shadow-pulse 2s infinite;
  backdrop-filter: blur(10px);
  margin: 10px;
}

h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
  text-shadow: 0 0 10px rgba(132, 132, 132, 0.3);
	font-size: 3rem;
	margin-top: -30px;
}

input {
  width: 80%;
  border: none;
  padding: 16px 32px;
  color: #fff;
	outline: none;
  font-size: 1.5rem;
  margin-bottom: 20px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.268);
  transition: all 0.3s ease;
}

input::placeholder {
  color: #fff;
}
input:hover {
  background-color: rgba(127, 255, 212, 0.126) ;
}
input:focus {
  transition: 0.5s;
	box-shadow: white 0 0 8px;
}
button {
  width: 50%;
  padding: 16px;
  border: none;
  background: #3498db;
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
	transition: all 0.3s ease;
  font-size: 1rem;
}
button:hover {
  background: #2980b9;
  transition: 0.3s;
	cursor: pointer;
	transform: scale(1.05);
}
@keyframes shadow-pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
	}
	100% {
		box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
	}
}

@keyframes focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

